// SECTION

.card {

  .img_Card {
    height: 35vh;
  }
  .card-body {

    .card-title {
      font-weight: bold;
      font-size: 1.2rem;
      text-align: center;
    }

    .card-text {
      font-size: 0.8rem;
      text-align: center;

      
      &:last-child {
        font-size: 0.8rem;
        font-weight: bold;
      }

      small {
        color: $azure_Bold;
      }
    }
  }
}