// COLOR
$azure: hsl(180, 77%, 93%);
$azure_Bold: hsl(179, 61%, 42%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// VARIABLE : NAVBAR
$police-btn: Tahoma,Verdana,Segoe,sans-serif; 
$color-btn: hsl(0, 0%, 0%);
$background-color-btn-hover: hsl(179, 52%, 45%);
$background-color-btn-active: hsl(0, 0%, 100%);

// VARIABLE : COVER
$background_Color__Cover: hsl(179, 52%, 45%);
$color_Text__Cover: hsl(0, 0%, 100%);
// VARIABLE : BREADCRUMB
$breadcrumb_Background: hsl(179, 82%, 36%);

@mixin btn-nav {
  display: block;
  text-align: center;
  width: auto;
  height: 8vh;
  font-size: 0.75rem;
  font-family: $police-btn;
  color: $color-btn;
  background-color: $azure;
}

// BODY

body {
  font-family: 'Raleway', sans-serif;
}

// NAV

.navbar{
  background-color: $azure;
  padding-bottom: 0;

  ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  
    li {
    @include btn-nav;
    float: left;
    
      a {
        display: inline-block;
        color: $color-btn;
        text-align: center;
        text-decoration: none;
        font-weight: 500;
        padding: 2vh 2vh 4vh 2vh;
        margin: 0 4vw;
        border-radius: 0 50% 0 0;
        width: 30vw;

      }
      
      a:hover {
        background-color: $background-color-btn-hover;
        color: $white;
      }
      
      .active {
        background-color: $background_Color__Cover;
        color: $white;
      }

      .btn_Nav__Contact {
        border-radius: 50% 0 0 0;
      }
    }
  }
}

// TITLE

.title {
  display: flex;
  text-align: center;
  background-color: $background_Color__Cover;
  
  h1 {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0.5rem 0 0 0;
    color: $color_Text__Cover;
  }
}

// BREADCRUMB
.breadcrumb {
  font-size: 1rem;
  margin: 0 0 0 0;
  background-color: $breadcrumb_Background;
  
    .breadcrumb-item {
      color: $white;
    }
}

  // FLUX
  
  .flux {
  display: block;
  width: 100vw;
  max-width: 2560px;
  margin: 0 auto 0 auto;
}

// FOOTER 

footer {
  padding: 4vh 0 4vh 0;
  background-color: $azure_Bold;
  
  .footer_Container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "logo2 logo1 text .";
    padding: 1vh;
    height: 75%;

    .footer_Container__Img2 {
      grid-area: logo2;
      
      img {
        width: 70%;
        float: right;
        margin-right: 10%;
      }
    }

    .footer_Container__Img1 {
      grid-area: logo1;
      
      img {
        width: 50%;
        float: left;
        margin-right: 10%;
      }
    }
    
    .footer_Container__Address {
      grid-area: text;
      text-align: center;

      p {
        font-size: 0.7rem;
        color: $white;
  
        a {
          color: $black;
          font-size: 0.5rem;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }
}

// RESPONSIVE PHONE

@media screen and (max-width: 426px) {
  .navbar {
    .navbar_Logo {
      display: none;
    }
  }


  .breadcrumb {
    .breadcrumb-item {

        font-size: 0.5rem;
      
    }
  }

  .card_Description {
    .card_Container__Image {

      img {
        display: none;
      }
    }
  }
}

// RESPONSIVE TABLET

@media screen and (min-width: 768px) {
  p {
    font-size: 1.6rem;
  }
  
  .navbar{
    ul{
      li {
      
        a {
          padding: 1vh 10vh 4vh 2vh;
          font-size: 1rem;
          width: 30vw;
        }
      }
    }
  }
  

  .title {

    h1 {
      font-size: 3rem;
    }
  }

  .breadcrumb{
    li {
      font-size: 0.9rem;
    } 
  }

  footer {
    .footer_Container {
      
      .footer_Container__Address {
  
        p {
          font-size: 1.5rem;

          a {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

// RESPONSIVE LAPTOP

@media screen and (min-width: 1024px) {
  p {
    font-size: 2rem;
  }
  
  .navbar{
    ul{
      li {
      
        a {
          padding: 1vh 10vh 4vh 2vh;
          margin: 0;
          font-size: 1.5rem;
          width: 35vw;
        }
      }
    }
  }
  
  .title {

    h1 {
      font-size: 4.2rem;
    }
  }

  .breadcrumb{
    li {
      font-size: 1rem;
    } 
  }

  footer {
    .footer_Container {
      
      .footer_Container__Address {
  
        p {
          font-size: 2.2rem;

          a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

// RESPONSIVE WIDTH >= 1200px 

@media screen and (min-width: 1200px) {
  p {
    font-size: 2.2rem;
  }
  
  .navbar{
    ul{
      li {
        
        a {
          font-size: 1.9rem;
        }
      }
    }
  }

  .title {

    h1 {
      font-size: 5.5rem;
    }
  }

  .breadcrumb{
    li {
      font-size: 1.5rem;
    } 
  }

  footer {
    .footer_Container {
      
      .footer_Container__Address {
  
        p {
          font-size: 3.2rem;

          a {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}