// COLOR
$cyan: hsla(179, 46%, 48%, 0.786);
$azure: hsl(180, 77%, 93%);
$azure_Bold: hsl(179, 61%, 42%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
// VARIABLE : COVER
$background_Color__Cover: hsl(179, 52%, 45%);
$color_Text__Cover: hsl(0, 0%, 100%);
// VARIABLE : BREADCRUMB
$breadcrumb_Background: hsl(179, 82%, 36%);
// VARIABLE : CARD
$card_Color__Strong: hsl(179, 46%, 48%);
// VARIABLE : THIRD SECTION 
$section_Color__PhoneNumber : hsl(180, 70%, 38%);


//MIXIN : CARD
@mixin Card {
  display: inline-block;
  text-align: center;
  width: 100%;
  text-decoration: none;
  margin: 4vh auto 0 auto;
}

@mixin card_Container {
  display: block;
  width: 76%;
  margin: 5vh auto 0 auto;
  padding: 1rem 1rem 0 1rem;
  border: solid $cyan 5px;
  border-radius: 15%;
  background-color: $azure;

  strong {
    color: $card_Color__Strong;
  }
    
  p {
    font-weight: 900;
  }
}

@mixin btn_Info {
  font-size: 1rem;
  font-weight: 900;
  color: $white;

    &:hover {
      transform: scale(1.20);
  }
}

@mixin input {
 border-radius: 2%;
 border: solid $white 2px;
}

@mixin label {
  font-weight: bold;
  font-size: 1.2rem;
  color: $white;
}

// BODY

body {
  font-family: 'Raleway', sans-serif;
}

// NAV
.navbar {
  .navbar_Logo {
    margin-left: 5vw;
    width: 60vw;
    border-radius: 5%;
  }

  .navbar_Button {
    border: solid $black;
    background-color: $azure; 
    
    .navbar-toggler-icon{
      width: 8vw;
    }
  }
  .offcanvas{
    background-color: $azure;
    .offcanvas-header {
      h1 {
        font-size: 1.1rem;
        font-weight: bold;
        color: $azure_Bold;
        width: 100%;
      }
    }
    
    .offcanvas-body {
      a {
        font-weight: bold;
      }

      .btn {
        background-color: $white;
        border: solid;
        font-weight: bold;
      }
    }
  }
}
  
// TITLE

.title {
  display: flex;
  text-align: center;
  background-color: $background_Color__Cover;
  
  h1 {
    font-weight: bold;
    font-size: 1.4rem;
    // margin-bottom: 2%;
    padding: 0.5rem 0;
    color: $color_Text__Cover;
  }
}

// BREADCRUMB
.breadcrumb {
  font-size: 1.5vh;
  margin: 0 0 0 0;
  background-color: $breadcrumb_Background;
    
  .breadcrumb-item {
    color: white;
  }
}

  // FLUX
  
  .flux {
  display: block;
  width: 100vw;
  max-width: 2560px;
  margin: 0 auto 0 auto;
}

// FIRST SECTION

.card_Description {
  @include Card;
  margin: 0 auto 0 auto;

  .card_Container__Image img {
    width: 100vw;
    height: 15%;
    margin: -1px 0 0 -1px;
  }
  
  .card_Container__Text {
    @include card_Container;
    margin-top: 9vh;
  }
}

// SECOND SECTION

.card_Information {
  @include Card;
  padding-top: 0;
  
  .card_Container__Text{
    @include card_Container;
    width: 100%;
    height: 20%;
    border: none;
    border-radius: 0;
    background-color: $azure_Bold;

    strong {
      color: $white;
    }

    .btn_Info {
      @include btn_Info;
    }
  }
}

// THIRD SECTION

.card_Contact {
  @include Card;

  .card_Container__Text {
    @include card_Container;

    h3 {
      font-size: 1.6rem;
      font-weight: bold;
      color: $black;
      margin-bottom: 2vh;
      text-decoration: underline;
    }

    strong {
      color: $azure_Bold;
    }

    a {
      text-decoration: none;
      color: $section_Color__PhoneNumber;
      font-size: bold;
    }

    .btn_Info {
      @include btn_Info;
    }
  }
}

// FOOTER

footer {
  margin-top: 9vh;
  background-color: $azure_Bold;

  .footer_Container__Address {
    grid-area: text2;
    padding: 2vh;
    text-align: center;
  }
}

// MODAL : SKILL

.modal_Skill {
  height: 100vh;
  
  .modal-header img {
    width: 15%;
    height: 130%;
  }
  
  .modal-body{
    background-color: $cyan;

    h2 {
      font-size: 1.8rem;
      font-weight: 900;
      color: $white;
      margin-bottom: -2vh;
    }
    
    ul {
      display: inline;
      font-size: 0.8rem;
      font-weight: 600;
      margin-top: 2vh;
      list-style: none;
      margin: auto 0 auto 0;
      
        
      li {
        margin-top: 2vh;
          
        &:last-child {
            margin-bottom: 5vh;
        }
      }
    }
  }
  
  .modal-footer {
    display: block;
    text-align: center;
    // background-color: $white;
    
    p {
      font-size: 1.5rem;
      font-weight: 900;
      color:$white;
    }

    .btn-primary, .btn-secondary {
      font-weight: bold;
    }
  }
}

// MODAL : CONTACT

.modal_Contact {
  height: 100vh;

  .modal-header img {
    width: 15%;
    height: 130%;
  }

  h3 {
    color: $white;
    font-size: 1.3rem;
  }

  .modal-body {
    background-color: $cyan;

    .form {
      form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 40px);
        grid-template-areas: 
        "name vorname"
        "email email"
        "email email"
        "civility civility"
        "phone phone"
        "skillTitle skillTitle"
        "skillTitle skillTitle"
        "skillTitle skillTitle"
        "btnSubmit btn";
        text-align: center;
          
        input {
          @include input;
        }
          
        label {
          @include label;

        }
        
        .form_Name {
          grid-area: name;
          margin: 5% 0;
          
          input {
            width: 95%;
          }
        }
        
        .form_Vorname{
          grid-area: vorname;
          margin: 5% 0;
          
          input {
            width: 95%;
          }
        }
        
        .form_Email{
          grid-area: email;
          margin-top: 3vh;
          
          input{
            width: 80%;
          }
        }
        
        .form_Civility {
          grid-area: civility;
          margin-top: 4vh;
          
          select {
            width: 50%;
            height: 6vh
          }
        }
        
        .form_Phone {
          grid-area: phone;
          margin-top: 6vh;

          input {
            width: 45%;
          }
        }
        .form_Skill {
          grid-area: skillTitle;
          margin: 5vh 5% 4vh 5%;
          
          textarea {
            margin: 5% auto;
            height: 70%;
          }
          
          label {
            color: $azure_Bold;
            font-size: 0.75rem;
            font-weight: 800;
          }
        }
        .form_Button__Submit {
          grid-area: btnSubmit;
          text-align: center;
          margin-top: 2vh;
          font-weight: bold;
        }
        
        .form_Button__Dismiss {
          grid-area: btn;
          text-align: center;
          margin-top: 2vh;
          font-weight: bold;
        }
      }
    }
  }
}

// RESPONSIVE TABLET

@media screen and (min-width: 768px) {
  p {
    font-size: 1.6rem;
  }
  
  .navbar {
    .navbar_Logo {
      margin: 0;
      height: 15vh;
      width: 30vw;
    }
    
    .navbar_Button {      
      .navbar-toggler-icon {
        width: 8vh;
        height: 8vh;
      }
    }
    
    .offcanvas{
      .offcanvas-header {
        h1 {
          font-size: 1.5rem;
        }
      }
      
      .offcanvas-body {
        a {
          font-size: 1.3rem;
        }

        form {
          height: 6vh;
        }
      }
    }
  }

  .title {

    h1 {
      font-size: 3rem;
    }
  }

  .breadcrumb{
    li {
      font-size: 0.9rem;
    } 
  }

  .card_Description{
    .card_Container__Image img {
      height: 60vh;
    }

    .card_Container__Text{
      width: 50%;
    }
  }

  .card_Information{
    .information_Text{
      height: 20%;
      
      p{
        margin: 1% 12% 2% 12%;
      }
      
      .btn_Info {
        width: 40%;
        height: 20%;
        font-size: 1.4rem;
        margin-bottom: 2%;
      }
    }
  }

  .card_Contact {
    .card_Container__Text{
      width: 50%;

      a {
        font-size: 1.6rem;
      }

      .btn_Info {
        width: 55%;
        height: 20%;
        font-size: 1.3rem;
      }
    }
  }

  .modal_Skill {
    .modal-header {
      height: 10vh;

      button {
        width : 5vw;
      }
    }

    .modal-body {
      h2 {
        font-size: 2.5rem;
      }

      li {
        font-size: 1.2rem;
      }
    }

    .modal-footer {
      p{
        font-size: 2.5rem;
      }

      .btn-primary, .btn-secondary {
        width: 40%;
        height: 20%;
        font-size: 1.2rem;
      }
    }
  }

  .modal_Contact {
    .modal-header {
      height: 10vh;

      button {
        width : 5vw;
      }
    }
    
    .modal-body {
      
      h3 {
        font-size: 2.4rem;
      }
      
      .form {
        input {
          height: 4vh;
        }

        select#select_Civility {
          height: 4vh;
        }

        .form_Email, .form_Civility, .form_Phone {
          margin-top: 3vh;

          label {
            font-size: 1.6rem;
          }
        }

        .form_Skill {
          .form-floating {
            label {
              font-size: 1rem;
            }
          }
        }

        .btn-primary, .btn-secondary {
          margin-top: 2vh;
          width: 75%;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
  }
}

// RESPONSIVE LAPTOP

@media screen and (min-width: 1024px) {
  p {
    font-size: 2rem;
  }
  
  .navbar {
    .navbar_Logo {
      margin: 0;
      width: 40vh
    }
    
    .offcanvas{
      .offcanvas-header {
        h1 {
          font-size: 1.5rem;
        }
      }
      
      .offcanvas-body {
        a {
          font-size: 1.4rem;
        }

        form {
          height: 8vh;
        }
      }
    }
  }

  .title {

    h1 {
      font-size: 4.2rem;
    }
  }

  .breadcrumb{
    li {
      font-size: 1rem;
    } 
  }

  .card_Description{
    .card_Container__Image img {
      height: 60vh;
    }

    .card_Container__Text{
      width: 45%;
    }
  }

  .card_Information{
    .information_Text{
      height: 20%;
      
      p{
        margin: 1% 12% 2% 12%;
      }
      
      .btn_Info {
        width: 40%;
        height: 20%;
        font-size: 1.5rem;
        margin-bottom: 2%;
      }
    }
  }

  .card_Contact {
    .card_Container__Text{
      width: 45%;

      a {
        font-size: 1.8rem;
      }

      .btn_Info {
        width: 55%;
        height: 20%;
        font-size: 1.5rem;
        margin-bottom: 2%;
      }
    }
  }

  .modal_Skill {
    .modal-header {
      height: 15vh;

      img {
        height: 15vh;
        width: 15%;
      }

      button {
        width : 5vw;
      }
    }

    .modal-body {
      h2 {
        font-size: 2.5rem;
      }

      li {
        font-size: 1.3rem;
      }
    }

    .modal-footer {
      p{
        font-size: 2.5rem;
      }

      .btn-primary, .btn-secondary {
        width: 40%;
        height: 7vh;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }

  .modal_Contact {
    .modal-header {
      height: 10vh;

      img{
        height: 130%;
        width: 8vw;
      }

      button {
        width : 5vw;
      }
    }
    
    .modal-body {
      
      h3 {
        font-size: 2.4rem;
      }
      
      .form {
        form{
          grid-template-columns: repeat(2, 50%);
          grid-template-rows: repeat(8, 45px);

          input {
            height: 5vh;
          }
        }

        .form_Email, .form_Civility, .form_Phone {
          label {
            font-size: 1.6rem;
          }
        }

        .form_Skill {
          .form-floating {
            label {
              font-size: 1rem;
            }
          }
        }

        .btn-primary, .btn-secondary {
          margin-top: 2vh;
          width: 50%;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
  }
}

// RESPONSIVE <= 1200 px

@media screen and (min-width: 1200px){
  .card_Description{
    .card_Container__Image img {
      height: 55vh;
    }

    .card_Container__Text{
      width: 35%;
    }
  }

  .card_Information{
    .information_Text{
      height: 20%;
      
      p{
        margin: 1% 20% 2% 20%;
      }
      
      .btn_Info {
        width: 25%;
        height: 10%;
        font-size: 1.5rem;
        margin-bottom: 2%;
      }
    }
  }

  .card_Contact {

    .card_Container__Text{
      width: 35%;
      
      .btn_Infos {
        width: 25%;
        height: 10%;
      }
    }
  }

  .modal_Skill {
    .modal-header{
      height: 10vh;

      img{
        width: 20%;
        height: 10vh;
      }
    }
    .modal-footer {

      .btn-primary, .btn-secondary {
        width: 40%;
        height: 6vh;
        font-size: 1.2rem;
      }
    }
  }

  .modal_Contact {
    .modal-header{

      img{
        width: 20%;
        height: 11vh;
      }
    }

    .modal-body {
      .form {

        .btn-primary, .btn-secondary {
          margin-top: 2vh;
          width: 10vw;
          font-size: 1.2rem;
        }
      }     
    }
  }
}

