// COLOR
$cyan: hsla(179, 46%, 48%, 0.786);
$azure: hsl(180, 77%, 93%);
$azure_Bold: hsl(179, 61%, 42%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// BODY

body {
 background-color: $azure;
}

// MIXIN

@mixin input {
  border-radius: 2%;
  border: solid $azure_Bold 2px;
 }
 
@mixin label {
  font-weight: bold;
  font-size: 1rem;
  color: $azure_Bold;
}

// TITLE 

.title {
  h1 {
    font-size: 1.3rem;
  }
}

// FIRST SECTION

.form {
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 10%);
    grid-template-areas: 
    "name vorname"
    "email email"
    "email email"
    "civility civility"
    "phone phone"
    "category category"
    "skillTitle skillTitle"
    "skillTitle skillTitle"
    "skillTitle skillTitle"
    "btnSubmit btnReset";
    text-align: center;
      
    input {
      @include input;
    }
      
    label {
      @include label;

    }

    select {
      border: solid $azure_Bold;
      width: 60%;
      height: 6vh;
    }
    
    .form_Name {
      grid-area: name;
      margin: 5% 0;
      
      input {
        width: 95%;
      }
    }
    
    .form_Vorname{
      grid-area: vorname;
      margin: 5% 0;
      
      input {
        width: 95%;
      }
    }
    
    .form_Email{
      grid-area: email;
      margin-top: 6vh;
      
      input{
        width: 80%;
      }
    }
    
    .form_Civility {
      grid-area: civility;
      margin-top: 3vh;
    }
    
    .form_Phone {
      grid-area: phone;
      margin-top: 4vh;

      input {
        width: 45%;
      }
    }

    .form_Category {
      grid-area: category;
      margin-top: 4vh;
    }
    
    .form_Skill {
      grid-area: skillTitle;
      margin: 2vh 5% 0 5%;
      
      textarea {
        margin: 1vh auto 0 auto;
        height: 25%;
      }
      
      label {
        color: $azure_Bold;
        font-size: 0.9rem;
        font-weight: 800;
      }
    }


    .form_Button__Submit button {
      grid-area: btnSubmit;
      text-align: center;
      font-weight: bold;
      margin-bottom: 10vh;

    }
    
    .form_Button__Reset button {
      grid-area: btnReset;
      text-align: center;
      font-weight: bold;
      margin-bottom: 10vh;
    }
  }
}

// RESPONSIVE TABLET 

@media screen and (min-width: 768px) {
  
  .title {
    h1 {
      font-size: 2.2rem;
    }
  }

  .form {
    form {
      margin: 0 auto 0 auto;
      width: 75%;
        
      input {
        font-size: 1.2rem;
        height: 7vh;
      }
        
      label {
        font-size: 1.4rem;
      }
  
      select {
        width: 45%;
        height: 7vh;
      }
      
      .form_Name {
        
        input {
          width: 75%;
        }
      }
      
      .form_Vorname{
        
        input {
          width: 75%;
        }
      }
      
      .form_Email{
        
        input{
          width: 75%;
        }
      }
      
      .form_Civility {
        margin-top: 2vh;
        font-size: 1.2rem;
      }
      
      .form_Phone {
        margin-top: 2vh;
  
        input {
          width: 30%;
        }
      }
  
      .form_Category{
        margin-top: 2vh;
        font-size: 1.2rem;
      }
      
      .form_Skill {

        textarea {
          height: 20vh;
        }
        
        label {
          font-size: 1.4rem;
        }
      }
  
      .form_Button__Submit button {
        width: 30vw;
        font-size: 1.2rem;
      }
      
      .form_Button__Reset button {
        width: 30vw;
        font-size: 1.2rem;
      }
    }
  }
}

// RESPONSIVE LAPTOP

@media screen and (min-width: 1024px) {
  
  .title {
    h1 {
      font-size: 3rem;
    }
  }

  .form {
    form {
      width: 75%;
        
      input {
        font-size: 1.5rem;
      }
        
      label {
        font-size: 2rem;
      }
  
      select {
        width: 40%;
      }
      
      .form_Name {
        
        input {
          width: 70%;
        }
      }
      
      .form_Vorname{
        
        input {
          width: 70%;
        }
      }
      
      .form_Email{
        margin-top: 8vh;
       
      }
      
      .form_Civility {
        font-size: 1.5rem;
      }
      
      .form_Phone {
  
        input {
          width: 25%;
        }
      }
  
      .form_Category{
        font-size: 1.5rem;
      }
      
      .form_Skill {

        textarea {
          height: 20vh;
        }
        
        label {
          font-size: 2rem;
        }
      }
  
      .form_Button__Submit button {
        width: 25vw;
        font-size: 1.6rem;
      }
      
      .form_Button__Reset button {
        width: 25vw;
        font-size: 1.6rem;
      }
    }
  }
}

// RESPONSIVE SCREEN >= 1200px

@media screen and (min-width: 1200px) {
  
  .title {
    h1 {
      font-size: 3.5rem;
    }
  }

  .form {
    form {
      width: 65%;
        
      input {
        font-size: 2rem;
        height: 7vh;
      }
        
      label {
        font-size: 2.4rem;
      }
  
      select {
        width: 35%;
      }
      
      .form_Email {
        margin-top: 11vh;
      }

      .form_Civility {
        font-size: 2rem;
      }
      
      .form_Phone {
  
        input {
          width: 25%;
        }
      }
  
      .form_Category{
        font-size: 2rem;
      }
      
      .form_Skill {

        label {
          font-size: 2.5rem;
        }
      }
  
      .form_Button__Submit button {
        font-size: 2rem;
      }
      
      .form_Button__Reset button {
        font-size: 2rem;
      }
    }
  }
}