// FORM

.form {
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 10%);
    grid-template-areas: 
    "name vorname"
    "email email"
    "email email"
    "civility civility"
    "phone phone"
    "category category"
    "skillTitle skillTitle"
    "skillTitle skillTitle"
    "skillTitle skillTitle"
    "btnSubmit btnReset";
    text-align: center;
    margin: 15vh auto 15vh auto;
    background-color: $azure_Bold;
    border-radius: 10%;

      
    input {
      @include input;
    }
      
    label {
      @include label;

    }

    select {
      border: solid $azure;
      background-color: $azure;
      width: 60%;
      height: 6vh;
    }
    
    .form_Name {
      grid-area: name;
      margin: 5% 0;
      
      input {
        width: 95%;
      }
    }
    
    .form_Vorname{
      grid-area: vorname;
      margin: 5% 0;
      
      input {
        width: 95%;
      }
    }
    
    .form_Email{
      grid-area: email;
      margin-top: 6vh;
      
      input{
        width: 80%;
      }
    }
    
    .form_Civility {
      grid-area: civility;
      margin-top: 3vh;
    }
    
    .form_Phone {
      grid-area: phone;
      margin-top: 4vh;

      input {
        width: 45%;
      }
    }

    .form_Category {
      grid-area: category;
      margin-top: 4vh;
    }
    
    .form_Skill {
      grid-area: skillTitle;
      margin: 2vh 5% 0 5%;
      
      textarea {
        margin: 1vh auto 0 auto;
        height: 25%;
      }
      
      label {
        color: $azure_Bold;
        font-size: 0.8rem;
        font-weight: 800;
      }
    }


    .form_Button__Submit button {
      grid-area: btnSubmit;
      text-align: center;
      font-weight: bold;
      margin-bottom: 10vh;
      background-color: $azure;
      color: $azure_Bold;

    }
    
    .form_Button__Reset button {
      grid-area: btnReset;
      text-align: center;
      font-weight: bold;
      margin-bottom: 10vh;
    }
  }
}