// COLOR
$cyan: hsla(179, 46%, 48%, 0.786);
$azure: hsl(180, 77%, 93%);
$azure_Bold: hsl(179, 61%, 42%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
// VARIABLE : COVER
$background_Color__Cover: hsl(179, 52%, 45%);
$color_Text__Cover: hsl(0, 0%, 100%);
// VARIABLE : BREADCRUMB
$breadcrumb_Background: hsl(179, 82%, 36%);
// VARIABLE : CARD
$card_Color__Strong: hsl(179, 46%, 48%);
// VARIABLE : THIRD SECTION 
$section_Color__PhoneNumber : hsl(180, 70%, 38%);

// BODY

body {
  font-family: 'Raleway', sans-serif;
}

// NAV
.navbar {
  .navbar_Logo {
    margin-left: 5vw;
    width: 60vw;
    border-radius: 5%;
  }

  .navbar_Button {
    border: solid $black;
    background-color: $azure; 
    
    .navbar-toggler-icon{
      width: 8vw;
    }
  }
  .offcanvas{
    background-color: $azure;
    .offcanvas-header {
      h1 {
        font-size: 1.1rem;
        font-weight: bold;
        color: $azure_Bold;
        width: 100%;
      }
    }
    
    .offcanvas-body {
      a {
        font-weight: bold;
      }

      .btn {
        background-color: $white;
        border: solid;
        font-weight: bold;
      }
    }
  }
}