// COLOR
$cyan: hsla(179, 46%, 48%, 0.786);
$azure: hsl(180, 77%, 93%);
$azure_Bold: hsl(179, 61%, 42%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// MAIN

main {
  background-color: $azure;
}

// SECTION

.card {

  .img_FirstCard {
    height: 13rem;
  }
  .card-body {

    .card-title {
      font-weight: bold;
      font-size: 1.2rem;
      text-align: center;
    }

    .card-text {
      font-size: 0.8rem;
      text-align: center;

      
      &:last-child {
        font-size: 0.8rem;
        font-weight: bold;
      }

      small {
        color: $azure_Bold;
      }
    }
  }
}

// RESPONSIVE TABLET 

@media screen and (min-width: 768px) {
  
  .navbar {
    .container-fluid {

      img {
        width: 80%;
        margin: 0;
      }

      .navbar-toggler-icon{
        height: 10vh;
      }

      
    }
  }
}