// RESPONSIVE LAPTOP

@media screen and (min-width: 1024px) {
  p {
    font-size: 2rem;
  }
  
  .navbar{
    ul{
      li {
      
        a {
          margin: 0;
          font-size: 1.5rem;
          width: 35vw;
        }

        .btn_Nav__Contact {
          width: 30vw;
        }
      }
    }
  }
  
  .title {

    h1 {
      font-size: 4.2rem;
    }
  }

  .breadcrumb{
    li {
      font-size: 1rem;
    } 
  }

  footer {
    .footer_Container {
      
      .footer_Container__Address {
  
        p {
          font-size: 2.2rem;

          a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}