// RESPONSIVE <= 1200 px

@media screen and (min-width: 1200px){
  .card_Description{
    .card_Container__Image img {
      height: 55vh;
    }

    .card_Container__Text{
      width: 40%;
    }
  }

  .card_Information{
    .information_Text{
      height: 20%;
      
      p{
        margin: 1% 20% 2% 20%;
      }
      
      .btn_Info {
        width: 25%;
        height: 10%;
        font-size: 1.5rem;
        margin-bottom: 2%;
      }
    }
  }

  .card_Contact {

    .card_Container__Text{
      width: 40%;
      
      .btn_Infos {
        width: 25%;
        height: 10%;
      }
    }
  }

  .modal_Skill {
    .modal-header{
      height: 10vh;

      img{
        width: 20%;
        height: 10vh;
      }
    }
    .modal-footer {

      .btn-primary, .btn-secondary {
        width: 40%;
        height: 6vh;
        font-size: 1.2rem;
      }
    }
  }

  .modal_Contact {
    .modal-header{

      img{
        width: 20%;
        height: 11vh;
      }
    }

    .modal-body {
      .form {

        .btn-primary, .btn-secondary {
          margin-top: 2vh;
          width: 10vw;
          font-size: 1.2rem;
        }
      }     
    }
  }
}

