/*
 reset  
*/
* {
  margin: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.flux {
  display: block;
  width: 100vw;
  max-width: 2560px;
  margin: 0 auto 0 auto;
}

body {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  background-color: #dffbfb;
  padding-bottom: 0;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar ul li {
  display: block;
  text-align: center;
  width: auto;
  height: 8vh;
  font-size: 0.75rem;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: black;
  background-color: #dffbfb;
  float: left;
}

.navbar ul li a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  padding: 2vh 2vh 4vh 2vh;
  margin-right: 5vw;
  border-radius: 0 50% 0 0;
  width: 30vw;
}

.navbar ul li a:hover {
  background-color: #37aeac;
  color: white;
}

.navbar ul li .active {
  background-color: #37aeac;
  color: white;
}

.navbar ul li .btn_Nav__Event {
  border-radius: 80% 80% 0 0;
}

.navbar ul li .btn_Nav__Contact {
  border-radius: 50% 0 0 0;
  margin: 0;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: #37aeac;
}

.title h1 {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0.5rem 0 0 0;
  color: white;
}

.breadcrumb {
  font-size: 1rem;
  margin: 0 0 0 0;
  background-color: #11a7a5;
}

.breadcrumb .breadcrumb-item {
  color: white;
}

footer {
  padding: 4vh 0 4vh 0;
  background-color: #2aacaa;
}

footer .footer_Container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.5fr 2fr 1fr;
      grid-template-columns: 0.5fr 0.5fr 2fr 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
      grid-template-areas: "logo2 logo1 text .";
  padding: 1vh;
  height: 75%;
}

footer .footer_Container .footer_Container__Img2 {
  grid-area: logo2;
}

footer .footer_Container .footer_Container__Img2 img {
  width: 70%;
  float: right;
  margin-right: 10%;
}

footer .footer_Container .footer_Container__Img1 {
  grid-area: logo1;
}

footer .footer_Container .footer_Container__Img1 img {
  width: 50%;
  float: left;
  margin-right: 10%;
}

footer .footer_Container .footer_Container__Address {
  grid-area: text;
  text-align: center;
}

footer .footer_Container .footer_Container__Address p {
  font-size: 0.7rem;
  color: white;
}

footer .footer_Container .footer_Container__Address p a {
  color: black;
  font-size: 0.5rem;
  font-weight: 600;
  text-decoration: none;
}

@media screen and (max-width: 426px) {
  .navbar .navbar_Logo {
    display: none;
  }
  .breadcrumb .breadcrumb-item {
    font-size: 0.5rem;
  }
  .card_Description .card_Container__Image img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1.6rem;
  }
  .navbar ul li a {
    padding: 1vh 10vh 4vh 2vh;
    font-size: 1rem;
    width: 30vw;
  }
  .title h1 {
    font-size: 3rem;
  }
  .breadcrumb li {
    font-size: 0.9rem;
  }
  footer .footer_Container .footer_Container__Address p {
    font-size: 1.5rem;
  }
  footer .footer_Container .footer_Container__Address p a {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 2rem;
  }
  .navbar ul li a {
    margin: 0;
    font-size: 1.5rem;
    width: 35vw;
  }
  .navbar ul li .btn_Nav__Contact {
    width: 30vw;
  }
  .title h1 {
    font-size: 4.2rem;
  }
  .breadcrumb li {
    font-size: 1rem;
  }
  footer .footer_Container .footer_Container__Address p {
    font-size: 2.2rem;
  }
  footer .footer_Container .footer_Container__Address p a {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  p {
    font-size: 2.2rem;
  }
  .navbar ul li a {
    font-size: 1.9rem;
  }
  .title h1 {
    font-size: 5.5rem;
  }
  .breadcrumb li {
    font-size: 1.5rem;
  }
  footer .footer_Container .footer_Container__Address p {
    font-size: 3.2rem;
  }
  footer .footer_Container .footer_Container__Address p a {
    font-size: 1.6rem;
  }
}

main {
  background-color: #dffbfb;
}

.card .img_Card {
  height: 35vh;
}

.card .card-body .card-title {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.card .card-body .card-text {
  font-size: 0.8rem;
  text-align: center;
}

.card .card-body .card-text:last-child {
  font-size: 0.8rem;
  font-weight: bold;
}

.card .card-body .card-text small {
  color: #2aacaa;
}

@media screen and (min-width: 768px) {
  .section_Card__Container {
    padding-bottom: 3%;
  }
  .section_Card__Container .card .img_Card {
    height: 60vh;
  }
}

@media screen and (min-width: 1024px) {
  .section_Card__Container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 1fr 2% 1fr 5%;
        grid-template-columns: 5% 1fr 2% 1fr 5%;
    -ms-grid-rows: 43%  58%;
        grid-template-rows: 43%  58%;
        grid-template-areas: ". card1 . card2 ."
 ". card3 card3 card3 .";
    padding-bottom: 5%;
  }
  .section_Card__Container .card {
    display: block;
    width: 40vw;
    margin: 0 auto 0 auto;
  }
  .section_Card__Container .card .card-body p {
    font-size: 1.2rem;
  }
  .section_Card__Container .card .card-body small {
    font-size: 1.2rem;
  }
  .section_Card__Container .card .img_Card {
    height: 40vh;
    width: 40vw;
    margin: 0 auto 0 auto;
  }
  .section_Card__Container .card_First {
    grid-area: card1;
  }
  .section_Card__Container .card_Second {
    grid-area: card2;
  }
  .section_Card__Container .card_Third {
    -ms-grid-column-span: 3;
    grid-area: card3;
    width: 75%;
  }
  .section_Card__Container .card_Third .img_Card__Third {
    display: block;
    margin: 0 auto 0 auto;
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */

