// COLOR
$azure: hsl(180, 77%, 93%);
$azure_Bold: hsl(179, 61%, 42%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
// VARIABLE : COVER
$background_Color__Cover: hsl(179, 52%, 45%);
$color_Text__Cover: hsl(0, 0%, 100%);
// VARIABLE : BREADCRUMB
$breadcrumb_Background: hsl(179, 82%, 36%);

// BODY

body {
  font-family: 'Raleway', sans-serif;
}

// NAV
.navbar {
  .navbar_Logo {
    margin-left: 5vw;
    width: 60vw;
    border-radius: 5%;
  }

  .navbar_Button {
    border: solid $black;
    background-color: $azure; 
    
    .navbar-toggler-icon{
      width: 8vw;
    }
  }
  .offcanvas{
    background-color: $azure;
    .offcanvas-header {
      h1 {
        font-size: 1.1rem;
        font-weight: bold;
        color: $azure_Bold;
        width: 100%;
      }
    }
    
    .offcanvas-body {
      a {
        font-weight: bold;
      }

      .btn {
        background-color: $white;
        border: solid;
        font-weight: bold;
      }
    }
  }
}

// TITLE

.title {
  display: flex;
  text-align: center;
  background-color: $background_Color__Cover;
  
  h1 {
    font-weight: bold;
    font-size: 1.4rem;
    // margin-bottom: 2%;
    padding: 0.5rem 0;
    color: $color_Text__Cover;
  }
}

// BREADCRUMB
.breadcrumb {
  font-size: 1.5vh;
  margin: 0 0 0 0;
  background-color: $breadcrumb_Background;
    
  .breadcrumb-item {
    color: white;
  }
}

  // FLUX
  
  .flux {
  display: block;
  width: 100vw;
  max-width: 2560px;
  margin: 0 auto 0 auto;
}

// FOOTER 

footer {
  padding-top: 4vh;
  background-color: $azure_Bold;
  
  .footer_Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20%;
    grid-template-areas: "logo1 text logo2";
    padding: 1vh;
    height: 100%;
    
    .footer_Container__Img1 {
      grid-area: logo1;
      
      img {
        width: 50%;
        float: right;
        margin-right: 10%;
      }
    }

    .footer_Container__Address {
      grid-area: text;
      text-align: center;
      font-size: 0.6rem;
    }

    .footer_Container__Img2 {
      grid-area: logo2;

      img {
        width: 70%;
        margin-left: 10%;

      }
    }
  }
}

// RESPONSIVE TABLET

@media screen and (min-width: 768px) {
  p {
    font-size: 1.6rem;
  }
  
  .navbar {
    .navbar_Logo {
      margin: 0;
      height: 15vh;
      width: 30vw;
    }
    
    .navbar_Button {      
      .navbar-toggler-icon {
        width: 8vh;
        height: 8vh;
      }
    }
    
    .offcanvas{
      .offcanvas-header {
        h1 {
          font-size: 1.5rem;
        }
      }
      
      .offcanvas-body {
        a {
          font-size: 1.3rem;
        }

        form {
          height: 6vh;
        }
      }
    }
  }

  .title {

    h1 {
      font-size: 3rem;
    }
  }

  .breadcrumb{
    li {
      font-size: 0.9rem;
    } 
  }
}

// RESPONSIVE LAPTOP

@media screen and (min-width: 1024px) {
  p {
    font-size: 2rem;
  }
  
  .navbar {
    .navbar_Logo {
      margin: 0;
      width: 40vh
    }
    
    .offcanvas{
      .offcanvas-header {
        h1 {
          font-size: 1.5rem;
        }
      }
      
      .offcanvas-body {
        a {
          font-size: 1.4rem;
        }

        form {
          height: 8vh;
        }
      }
    }
  }

  .title {

    h1 {
      font-size: 4.2rem;
    }
  }

  .breadcrumb{
    li {
      font-size: 1rem;
    } 
  }

  .footer_Container {    
    .footer_Container__Img2 {

      img {
        width: 10%;
      }
    }
  }
}