// variable management and mixin

// COLOR
$azure: hsl(180, 77%, 93%);
$azure_Bold: hsl(179, 61%, 42%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// VARIABLE : NAVBAR
$police-btn: Tahoma,Verdana,Segoe,sans-serif; 
$color-btn: hsl(0, 0%, 0%);
$background-color-btn-hover: hsl(179, 52%, 45%);
$background-color-btn-active: hsl(0, 0%, 100%);

// VARIABLE : COVER
$background_Color__Cover: hsl(179, 52%, 45%);
$color_Text__Cover: hsl(0, 0%, 100%);
// VARIABLE : BREADCRUMB
$breadcrumb_Background: hsl(179, 82%, 36%);